body {
  font-family: 'Nobile';
  margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben';
}

ul li{
  list-style-type: none;
  padding: 5px 0px;
}


#outergraphbox {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

#innergraphbox {
  width: 400px;
  height: 400px;
}
