body {
  font-family: 'Nobile';
  margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben';
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}

ul, li{
  list-style-type: none;
  padding: 5px 0px;
}

button, select{
    margin-top: 12px;
}

#removeNodeFromCoalition {
    margin-left: 12px;
}

#outergraphbox {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

#innergraphbox {
  width: 400px;
  height: 400px;
}

#pageContainer {
    background: url(/cream_dust_transparent.png) repeat 0 0;
}

body {
    background: url(/background.png);
    background-position: 50%;
    padding: 2.5%;
}
