body {
  width: 500px;
  margin: auto;
}

table, th, td {
   border: 1px solid black;
}

#interface li {
  /*list-style: none;*/
  margin-top: 25px;
}

#stabilityResults {
  font-family: monospace;
}

#visjsbox {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
