.centerColumn {
  width: 500px;
  margin: auto;
}

#outergraphbox {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

#innergraphbox {
  width: 400px;
  height: 400px;
}


table, th, td {
   border: 1px solid black;
}

#interface li {
  /*list-style: none;*/
  margin-top: 25px;
}

#references li {
  list-style: none;
  margin-top: 15px;
}

#hideShowPlayerExplanation, #hideShowStabilityExplanation {
  color: blue;
  cursor: pointer;
}
