.centerColumn {
  width: 500px;
  margin: auto;
}

table, th, td {
   border: 1px solid black;
}

ul li {
  /*list-style: none;*/
  margin-top: 20px;
  margin-bottom: 5px;
}

#outergraphbox {
  width: 400px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

#innergraphbox {
  width: 400px;
  height: 400px;
}
